body {font-family:Roboto ,Times, Serif; display:flex; flex:auto;}
li, a {text-decoration: none; list-style: none; }
.sectionone {display:flex; flex-direction:row; flex:auto; justify-content:space-between; height:400px;}
.header {display:flex; background-color:aqua; height:50px;  }
.uppercenter {display:flex; flex-direction:row; height:350px;}
.rightspace {background-color: blue; display:flex; flex:auto; width:16%;}
.leftspace {background-color: blue;display:flex; flex:auto; width:16%;}
.uppercenter-left {background-color: blueviolet; padding-left:35px; width:50%  }
.uppercenter-right {background-color: bisque; display:flex; flex:1;}
.upper-mid {display:flex; flex-direction:column; flex:auto; width: 68%; }
ul {display:flex; gap:20px; flex:1; align-items: center;}
.push-right {margin-left:auto; display: flex;}
.welcome {font-size:48px; font-weight:bold; color:white;}
.join {color:white; font-size: 18px; }
.small {color:white; font-size: 18px;}
.big {color:white; font-size: 24px; font-weight:bold;}