body {font-family:Roboto ,Times, Serif; margin:0;}
li, a {text-decoration: none; list-style: none; }
.sectionone {display:flex; flex-direction:row; flex:auto; justify-content:space-between; height:400px;}
.header {display:flex; background-color:#1F2937; height:50px;  }
.uppercenter {display:flex; flex-direction:row; height:350px;}
.rightspace {background-color: #1F2937; display:flex; flex:auto; width:16%;}
.leftspace {background-color: #1F2937;display:flex; flex:auto; width:16%;}
.uppercenter-left {background-color: #1F2937; padding-left:35px; width:50%; justify-content:center; display:flex; flex-direction:column;  }
.uppercenter-right {background-color: #1F2937; display:flex; flex:1; padding-left:35px;}
.upper-mid {display:flex; flex-direction:column; flex:auto; width: 68%; }
ul {display:flex; gap:20px; flex:1; align-items: center;}
.push-right {margin-left:auto; display: flex;}
.welcome {font-size:48px; font-weight:bold; color:white;}
.join {color:white; font-size: 18px; }
.small {color:white; font-size: 18px;}
.big {color:white; font-size: 24px; font-weight:bold;}
.containerupright {background-color: grey; margin:auto; padding-top: 100px; padding-bottom:100px; padding-left: 230px; padding-right:230px;}
button {width:120px; height: 30px; margin-top: 10px; border-radius:10px; background-color: #3882f6; color:white; font-size:20px; font-weight:bold; }

.headersectwo {display:flex; justify-content: center; flex:auto; align-items:center; text-align:center; font-size:36px; font-weight:bold; padding-top:40px; padding-bottom:40px;}
.sectiontwo {display:flex; justify-content:center; flex:1; gap:60px;   flex-direction:row; padding-bottom:100px; }
.imgg {display:flex; flex-direction:column; width:200px; align-items:center;}
.text {display:flex; flex:1; text-align: center;}
img {
    width: 200px;
    height: 200px;}
 